apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: imadds
spec:
  selector:
    matchLabels: { app: kafka }
  template:
    metadata:
      labels: { app: kafka }
    spec:
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.2.15
          ports:
            - containerPort: 9092
          env:
            - name: KAFKA_BROKER_ID
              value: "1"
            - name: KAFKA_ZOOKEEPER_CONNECT
              value: "zookeeper:2181"

            # One internal listener
            - name: KAFKA_LISTENERS
              value: INTERNAL://:9092

            - name: KAFKA_ADVERTISED_LISTENERS
              value: INTERNAL://kafka:9092

            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: INTERNAL:PLAINTEXT

            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: INTERNAL

            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: imadds
spec:
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
  selector:
    app: kafka