apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-master
  namespace: imadds
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-master
  template:
    metadata:
      labels:
        app: spark-master
    spec:
      containers:
      - name: spark-master
        image: apache/spark:4.0.0-java21-python3
        command:
          - /opt/spark/bin/spark-class
          - org.apache.spark.deploy.master.Master
        ports:
        - containerPort: 7077
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: spark-master
  namespace: imadds
spec:
  type: ClusterIP
  selector:
    app: spark-master
  ports:
  - name: spark
    port: 7077
    targetPort: 7077
  - name: webui
    port: 8080
    targetPort: 8080