apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: imadds
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
      - name: spark-worker
        image: apache/spark:4.0.0-java21-python3
        command:
          - /opt/spark/bin/spark-class
          - org.apache.spark.deploy.worker.Worker
          - spark://spark-master:7077
        env:
        - name: SPARK_WORKER_CORES
          value: "4"
        - name: SPARK_WORKER_MEMORY
          value: "4g"
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: spark-worker
  namespace: imadds
spec:
  type: ClusterIP
  selector:
    app: spark-worker
  ports:
  - name: webui
    port: 8081
    targetPort: 8081